NIMBUS_HTTP_ADDR=:58080
NIMBUS_DB_DSN=nimbus:nimbus_dev@tcp(127.0.0.1:23326)/nimbus_cloud_go?charset=utf8mb4&parseTime=True&loc=Local
NIMBUS_NACOS_HOST=127.0.0.1
NIMBUS_NACOS_PORT=28858
NIMBUS_NACOS_NAMESPACE=public
NIMBUS_ADVERTISE_IP=127.0.0.1
NIMBUS_REDIS_ADDR=127.0.0.1:27326
NIMBUS_REDIS_PASSWORD=
NIMBUS_JWT_SECRET=change-me-before-production
NIMBUS_TOKEN_TTL=2h
NIMBUS_REFRESH_TOKEN_TTL=720h
NIMBUS_BOOTSTRAP_TENANT=Nimbus Framework
NIMBUS_BOOTSTRAP_USERNAME=admin
NIMBUS_BOOTSTRAP_PASSWORD=admin123
